body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    border-radius: 8px;
}

.display {
    display: flex;
    justify-content: center;
    min-height: 85px;
    background-color: rgb(85, 85, 85);
    margin: 10px;
}

.keypad {
    display: flex;
}

.tallBtn {
    height: 105px;
    width: 50px;
}

.sideBtns {
    display: flex;
    flex-direction: column;
}

.text {
    color: white;
}

button {
    height: 50px;
    width: 50px;
    margin: 2.5px;
}

.column {
    display: flex;
    flex-direction: column;
}

.bottomRow {
    margin-left: 55px;
}