body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: center;
}

.keypad {
    display: flex;
}

.tallBtn {
    height: 100px;
    width: 50px;
}

.sideBtns {
    display: flex;
    flex-direction: column;
}

button {
    height: 50px;
    width: 50px;
}

.column {
    display: flex;
    flex-direction: column;
}

.bottomRow {
    margin-left: 50px;
}